.button {
    background-color: dodgerblue;
    class: "btn btn-primary";
    border: none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.button:hover {
    background-color: dodgerblue;
}
.border-shade {

}
body, header {
    font-family: Raleway, Arial, sans-serif;
    font-size: 16px;
    max-width: 1500px;
    letter-spacing: 3px;
    margin-right: auto;
    background-color: #000000e0;
    color: #d9d9d9;
    text-align: center

}