dd.error
{

}

input[type=text]
{

    margin-left: -40px;
    margin-right: -90px;
    width: 200px;
}
.seats input[type=text]
{
    width: 15px;
}

dt
{
    width: 80px;
}

.seats dl, dt, dd:not(.error), .seats :not(.error)
{
    display: inline-block;
    text-align: left;
}

p
{
    margin: 0px;
}

table
{
    border-collapse: collapse;
}

table, th, td
{
    border: 1px solid black;
    padding: 5px
}
