@()
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/classification.css")">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark nav nav-pills">
        <a class="navbar-brand" href="#"><img src="@routes.Assets.versioned("images/QA.png")" alt="logo" style="width: 40px;"</a>
        <div class="w3-button w3-blue-grey">
            <div class="w3-text-goldenrod">
                <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> Home </a>
                <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> Movie Listing </a>
                <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> New Release Gallery </a>
                <a href="http://localhost:9000/screens" class="nav-item w3-button w3-mobile w3-hover-teal"> Screens</a>
                <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> About Us </a>
                <input type="text" class="nav-item w3-input" placeholder="Search..">
                <a href="#" class="nav-item w3-button w3-green"><button class="btn btn-primary" type="submit">
                    Search</button></a>
            </div>
        </div>
    </nav>
</head>
<body>
    <h1>About Us</h1>
    <p>Why choose QA Cinemas?</p>
    <p>
        QA Cinemas was created as a brand in which you will not just watch films,
        but experience them as well. With a range of the latest, highly anticipated
        blockbusters always being found on our screens, you'll always be close to
        the action.</p>

        <p>Team 4 Members</p>
        <p>Dymtro Lysak - Team Leader</p>
        <p>Email: Dmytro.Lysak@@academytrainee.com </p>
        <p>James Williams</p>
        <p>Email: James.Williams@@academytrainee.com </p>
        <p>Leeroy Chiweshe</p>
        <p>Email: Leeroy.Chiweshe@@academytrainee.com</p>
        <p>Blake Ezechi</p>
        <p>Email: Blake.Ezechi@@academytrainee.com</p>
        <p>Deng Nyuar</p>
        <p>Email: Deng.Nyuar@@academytrainee.com</p>


</body>