@main("About Us") {
    <head>
    @navigation.render()
    </head>
    <div>
        <center>
            <h1>About Us</h1>
            <p>Why choose QA Cinemas?</p>
            <p>
                QA Cinemas was created as a brand in which you will not just watch films,
                but experience them as well. With a range of the latest, highly anticipated
                blockbusters always being found on our screens, you'll always be close to
                the action.</p>

            <p> A link to the contact page for more information about QA Cinemas can be found below:</p>
            <a href = "http://localhost:9000/contact">
                <link ref>
                <p>The contact page can be found here</p>
            </a>


            <p>Team 4 Members</p>
            <p>Dymtro Lysak - Team Leader</p>
            <p>Email: Dmytro.Lysak@@academytrainee.com </p>
            <p>James Williams</p>
            <p>Email: James.Williams@@academytrainee.com </p>
            <p>Leeroy Chiweshe</p>
            <p>Email: Leeroy.Chiweshe@@academytrainee.com</p>
            <p>Blake Ezechi</p>
            <p>Email: Blake.Ezechi@@academytrainee.com</p>
            <p>Deng Nyuar</p>
            <p>Email: Deng.Nyuar@@academytrainee.com</p>
        </center>
    </div>
    @footer.render()
}



