@()
<head>
    @navigation.render()
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/classification.css")">
</head>
<body>
    <center><h1>Classifications</h1></center>
    <div id="bordershade">

        <strong><center><p>What is our classification criteria based on?</p></center></strong>
        <center><p>
            All classification decisions are based on the BBFC’s published and regularly updated Guidelines.
            The Guidelines are the product of extensive public consultation,
            research and the accumulated experience of the BBFC over many years.
            They reflect current views on film, DVD and video game regulation.</p></center>

    </div>

    <div style="padding: 50px">
        <center><div>
            <center><img border="0" src="@routes.Assets.versioned("images/Ulogo.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>
        <div>
            <strong><p>U - Universal - Suitable for all</p></strong>
            <p>A U film should be suitable for audiences aged four years and over,
                although it is impossible to predict what might upset any particular child.
                U films should be set within a positive framework and should offer reassuring
                counterbalances to any violence, threat or horror.
                If a work is particularly suitable for pre-school children, this will be indicated in the ratings info.</p>
            <a href="https://bbfc.co.uk/about-classification/u">
                <button class="button">More info</button>
            </a>
        </div>
    </div>

    <div style="padding: 50px">
        <center><div>
            <center><img border="0" src="@routes.Assets.versioned("images/pg.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>
        <div>
            <strong><p>PG - Parental Guidance</p></strong>
            <p>
                General viewing, but some scenes may be unsuitable for young children. A PG film should not unsettle a child aged around eight or older. Unaccompanied children of any age may watch, but parents are advised to consider whether the content may upset younger, or more sensitive, children.</font></p>
        </div>
        <a href="https://bbfc.co.uk/about-classification/pg">
            <button class="button">More info</button>
        </a>
    </div>

    <div style="padding: 50px">
        <center><div>
            <center><img border="0" src="@routes.Assets.versioned("images/12a.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>
        <div>
            <strong><p>12A and 12</p></strong>
            <p>
                Films classified 12A and video works classified 12 contain material that is not generally suitable for children aged under 12. No one younger than 12 may see a 12A film in a cinema unless accompanied by an adult. Adults planning to take a child under 12 to view a 12A film should consider whether the film is suitable for that child. To help them decide, we recommend that they check the Ratings info for that film in advance. No one younger than 12 may rent or buy a 12 rated video work.</font></p>
        </div>

        <a href="https://bbfc.co.uk/about-classification/12a-and-12">
            <button class="button">More info</button>
        </a>
    </div>

    <div style="padding: 50px">
        <center><div style="display: inline-block">
            <center><img border="0" src="@routes.Assets.versioned("images/15.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>
        <div>
            <strong><p>15 – Suitable only for 15 years old and over</p></strong>
            <p>
                No one younger than 15 may see a 15 film in a cinema. No one younger than 15 may rent or buy a 15 rated video work.</font></p>
        </div>
        <a href="https://bbfc.co.uk/about-classification/15">
            <button class="button">More info</button>
        </a>
    </div>

    <div style="padding: 50px">
        <center><div>
            <center><img border="0" src="@routes.Assets.versioned("images/18.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>

        <strong><p>18 - Suitable only for adults</p></strong>
        <p>
            No one younger than 18 may see an 18 film in a cinema. No one younger than 18 may rent or buy an 18 rated video work. Adults should be free to choose their own entertainment.</p>

        <a href="https://bbfc.co.uk/about-classification/18">
            <button class="button">More info</button>
        </a>
    </div>

    <div style="padding: 50px" >
        <center><div style="display: inline-block">
            <center><img border="0" src="@routes.Assets.versioned("images/R18.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>

        <strong><p>
            R18 - To be shown only in specially licensed cinemas, or supplied only in licensed sex shops, and to adults only</p></strong>
        <p>
            The R18 category is a special and legally-restricted classification primarily for explicit works of consenting sex or strong fetish material involving adults. Films may only be shown to adults in specially licensed cinemas, and video works may be supplied to adults only in licensed sex shops. R18 video works may not be supplied by mail order.</p>

        <a href="https://bbfc.co.uk/about-classification/r18">
            <button class="button">More info</button>
        </a>
    </div>

    <strong><p>Click below to be directed to the UK classification body website: </p></strong>

    <a href="https://bbfc.co.uk/">
        <button class="button">UK classification body website </button>
    </a>

    @footer.render()
</body>