@()
<body style="background-color: darkslategray">
    <div style="font-family: 'Comic Sans MS'" >
        <center><font color="#f5f5f5"> <h1>Classifications</h1></font></center>
    </div>
    <style>
            #bordershade {
                border-style: solid;
                border-color: lightgreen floralwhite;
                border-width: 20px 10px;
                color: black;
                text-align: center;
            }
    </style>
    <div id="bordershade">
        <div style="font-family: 'Comic Sans MS'" >
            <center><font color="#f5f5f5"> <p><strong>
                What is our classification criteria based on?</strong></p></font></center>
            <center><font color="#f5f5f5"> <p>
                All classification decisions are based on the BBFC’s published and regularly updated Guidelines. The Guidelines are the product of extensive public consultation, research and the accumulated experience of the BBFC over many years. They reflect current views on film, DVD and video game regulation.
            </p></font></center>
        </div>

    </div>
    <div style="padding: 50px">
        <center><div style="display: inline-block">
            <center><img border="0" src="@routes.Assets.versioned("images/Ulogo.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>
        <div style="font-family: 'Comic Sans MS'">
            <p><font color="#f5f5f5"> <strong>U Universal- Suitable for all</strong></font></p>
            <p><font color="#f5f5f5">
                A U film should be suitable for audiences aged four years and over, although it is impossible to predict what might upset any particular child.

                U films should be set within a positive framework and should offer reassuring counterbalances to any violence, threat or horror. If a work is particularly suitable for pre-school children, this will be indicated in the ratings info.

            </font></p>
            <style>
                    .button {
                        background-color: #4CAF50;
                        border: none;
                        color: white;
                        padding: 15px 25px;
                        text-align: center;
                        font-size: 16px;
                        cursor: pointer;
                    }

                    .button:hover {
                        background-color: green;
                    }
            </style>
            <a href="https://bbfc.co.uk/about-classification/u">
                <button class="button">more info </button>
            </a>
        </div>
    </div>

    <div style="padding: 50px">
        <center><div style="display: inline-block">
            <center><img border="0" src="@routes.Assets.versioned("images/pg.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>
        <div style="font-family: 'Comic Sans MS'">
            <p><font color="#f5f5f5"> <strong>PG Parental Guidance</strong></font></p>
            <p><font color="#f5f5f5">
                General viewing, but some scenes may be unsuitable for young children. A PG film should not unsettle a child aged around eight or older. Unaccompanied children of any age may watch, but parents are advised to consider whether the content may upset younger, or more sensitive, children.</font></p>
        </div>
        <style>
                .button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 15px 25px;
                    text-align: center;
                    font-size: 16px;
                    cursor: pointer;
                }

                .button:hover {
                    background-color: green;
                }
        </style>
        <a href="https://bbfc.co.uk/about-classification/pg">
            <button class="button">more info </button>
        </a>
    </div>

    <div style="padding: 50px">
        <center><div style="display: inline-block">
            <center><img border="0" src="@routes.Assets.versioned("images/12a.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>
        <div style="font-family: 'Comic Sans MS'">
            <p><font color="#f5f5f5"> <strong>12A and 12</strong></font></p>
            <p><font color="#f5f5f5">
                Films classified 12A and video works classified 12 contain material that is not generally suitable for children aged under 12. No one younger than 12 may see a 12A film in a cinema unless accompanied by an adult. Adults planning to take a child under 12 to view a 12A film should consider whether the film is suitable for that child. To help them decide, we recommend that they check the Ratings info for that film in advance. No one younger than 12 may rent or buy a 12 rated video work.</font></p>
        </div>
        <style>
                .button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 15px 25px;
                    text-align: center;
                    font-size: 16px;
                    cursor: pointer;
                }

                .button:hover {
                    background-color: green;
                }
        </style>
        <a href="https://bbfc.co.uk/about-classification/12a-and-12">
            <button class="button">more info </button>
        </a>
    </div>

    <div style="padding: 50px">
        <center><div style="display: inline-block">
            <center><img border="0" src="@routes.Assets.versioned("images/15.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>
        <div style="font-family: 'Comic Sans MS'">
            <p><font color="#f5f5f5"> <strong>15– Suitable only for 15 years and over</strong></font></p>
            <p><font color="#f5f5f5">
                No one younger than 15 may see a 15 film in a cinema. No one younger than 15 may rent or buy a 15 rated video work.</font></p>
        </div>
        <style>
                .button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 15px 25px;
                    text-align: center;
                    font-size: 16px;
                    cursor: pointer;
                }

                .button:hover {
                    background-color: green;
                }
        </style>
        <a href="https://bbfc.co.uk/about-classification/15">
            <button class="button">more info </button>
        </a>
    </div>

    <div style="padding: 50px">
        <center><div style="display: inline-block">
            <center><img border="0" src="@routes.Assets.versioned("images/18.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>
        <div style="font-family: 'Comic Sans MS'">
            <p><font color="#f5f5f5"> <strong>18- Suitable only for adults</strong></font></p>
            <p><font color="#f5f5f5">
                No one younger than 18 may see an 18 film in a cinema. No one younger than 18 may rent or buy an 18 rated video work. Adults should be free to choose their own entertainment.</font></p>
        </div>
        <style>
                .button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 15px 25px;
                    text-align: center;
                    font-size: 16px;
                    cursor: pointer;
                }

                .button:hover {
                    background-color: green;
                }
        </style>
        <a href="https://bbfc.co.uk/about-classification/18">
            <button class="button">more info </button>
        </a>
    </div>

    <div style="padding: 50px" >
        <center><div style="display: inline-block">
            <center><img border="0" src="@routes.Assets.versioned("images/R18.png")" alt="U logo" style="width: 128px;
                height: 128px" ;
            ></center>
        </div></center>
        <div style="font-family: 'Comic Sans MS'">
            <p><font color="#f5f5f5"> <strong>
                R18- To be shown only in specially licensed cinemas, or supplied only in licensed sex shops, and to adults only</strong></font></p>
            <p><font color="#f5f5f5">
                The R18 category is a special and legally-restricted classification primarily for explicit works of consenting sex or strong fetish material involving adults. Films may only be shown to adults in specially licensed cinemas, and video works may be supplied to adults only in licensed sex shops. R18 video works may not be supplied by mail order.</font></p>
        </div>
        <style>
                .button {
                    background-color: #4CAF50;
                    border: none;
                    color: white;
                    padding: 15px 25px;
                    text-align: center;
                    font-size: 16px;
                    cursor: pointer;
                }

                .button:hover {
                    background-color: green;
                }
        </style>
        <a href="https://bbfc.co.uk/about-classification/r18">
            <button class="button">more info </button>
        </a>
    </div>
    <div style="font-family: 'Comic Sans MS'">
        <p><font color="#f5f5f5"> Click below to be directed to the UK classification body website: </font></p>
    </div>
    <style>
            .button {
                background-color: #4CAF50;
                border: none;
                color: white;
                padding: 15px 25px;
                text-align: center;
                font-size: 16px;
                cursor: pointer;
            }

            .button:hover {
                background-color: green;
            }
    </style>
    <a href="https://bbfc.co.uk/">
        <button class="button">UK classification body website </button>
    </a>


</body>