@(form :Form[LoginDetails])(implicit messagesProvider: MessagesProvider)

@main("Login"){
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <div class="w3-card">
<div>
    @helper.form( routes.LoginController.loginSubmit() ){
        <center> @helper.inputText( form("username"), '_label -> "USERNAME", '_showConstraints -> false )</center>
        <center>@helper.inputPassword( form("password"), '_label -> "PASSWORD", '_showConstraints -> false )</center>
        <center><button type="submit" class="btn btn-primary">Login</button></center>
    }
</div>
    </div>
}