@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <body>
    <head>
        <title>@title</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
        <header class="w3-panel w3-center w3-opacity" style="container:128px 16px">
        <div class="w3-dropdown-hover">
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark nav nav-pills">
                <a class="navbar-brand" href="#"><img src="@routes.Assets.versioned("images/QA.png")"alt="logo" style="width:40px;"</a>
                <div class="w3-button w3-blue-grey">
                    <div class="w3-text-goldenrod">
                        <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> Home </a>
                        <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> Movie Listing </a>
                        <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> New Release Gallery </a>
                        <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> Contact </a>
                        <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> About Us </a>
                        <input type="text" class="nav-item w3-input" placeholder="Search..">
                        <a href="#" class="nav-item w3-button w3-green"><button class="btn btn-primary" type="submit">Search</button></a>
                    </div>
                </div>
            </nav>
            </div>
        </header>
    </head>
    <center>
        <center><h2>QACinema(placeholder)</h2></center>
        <br>
        <center>@navigation.render()</center>
        <br>
        @content
        <br>
        <p>Welcome to the QACinema experience</p>
        <center><p>This website will allow you to book seats for movies on demand.</p></center>
        <center><p>For information on viewing times, please click on the movie.</p></center>
        <center><p>This website will allow you to book seats for movies on demand.</p></center>
        <center><p>QACinema provides free parking for paying customers just outside our premise.</p></center>
        <br><br>
        <div class="container-fluid">
        <div class="row">
            <div class="col" style="background-color:azure;"><img src="@routes.Assets.versioned("images/deadpool.png")" class="rounded" alt="DeadPool" style="width:30%"></div>
            <div class="col" style="background-color:black;"><img src="@routes.Assets.versioned("images/deadpool.png")" class="rounded" alt="DeadPool" style="width:30%"></div>
            <div class="col" style="background-color:azure;"><img src="@routes.Assets.versioned("images/deadpool.png")" class="rounded" alt="DeadPool" style="width:30%"></div>
        </div>
        </div>

        <p>[placeholder for movie images aka. listing gallery, maybe]</p>
    </center>
    </body>
</html>
