@(form: Form[PaymentForm], movieTitle: String)(implicit messagesProvider: MessagesProvider)

@main("Payment") {
    <div>
    @helper.form(routes.PaymentController.paymentSubmit(movieTitle)) {
        <h2>Payment for booking: @movieTitle</h2>
        @helper.inputText(form("name"), '_label -> "Name:", '_showConstraints -> false)
        @helper.inputText(form("cardNumber"), '_label -> "Card Number:", '_showConstraints -> false)
        @helper.inputDate(form("expDate"), '_label -> "Expiry Date:", '_showConstraints -> false)
        @helper.inputText(form("securityCode"), '_label -> "Security Code (CVV):", '_showConstraints -> false)
    </div>
    <br>
    <button type="submit">Submit payment</button>
}
    </div>
}