@(reviews: List[UserReviewData], form :Form[UserReviewForm])( implicit messagesProvider :MessagesProvider )
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/payment.css")">
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark nav nav-pills">
        <div class="w3-button w3-blue-grey">
            <div class="w3-text-goldenrod">
                <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> Home </a>
                <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> Movie Listing </a>
                <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> New Release Gallery </a>
                <a href="http://localhost:9000/screens" class="nav-item w3-button w3-mobile w3-hover-teal"> Screens</a>
                <a href="#" class="nav-item w3-button w3-mobile w3-hover-teal"> About Us </a>
                <input type="text" class="nav-item w3-input" placeholder="Search..">
                <a href="#" class="nav-item w3-button w3-green"><button class="btn btn-primary" type="submit">Search</button></a>
            </div>
        </div>
    </nav>
</head>
@main("Reviews"){
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/reviews.css")">
    <h1>Reviews</h1>
    <table>
    @for( review <- reviews ) {
        <tr>
            <td><h2>@review.movieTitle</h2></td>
        </tr>
        <tr>
            <td><span class="reviewLabels">Alias</span> <span class="reviewText">@review.name</span></td><td><span class="reviewLabels">Rating</span> <span class="reviewText">@review.rating/10</span></td>
        </tr>
        <tr>
            <td><span class="reviewLabels">Review</span></td>
        </tr>
        <tr>
            <td><span class="reviewText">@review.review</span></td>
        </tr>
    }
    </table>
    <br><br><br><br><br><br><br><br>
    <div>
    @helper.form( routes.ReviewController.reviewSubmit() ){
        @helper.inputText( form("movieTitle"), '_label -> "Movie Title:", '_showConstraints -> false )
        @helper.inputText( form("name"), '_label -> "Alias:", '_showConstraints -> false )
        @helper.inputText( form("rating"), '_label -> "Rating:", '_showConstraints -> false )
        @helper.inputText( form("review"), '_label -> "Review", '_showConstraints -> false )
        <button type="submit">submit</button>
    }
    </div>
    <br><br>
}