@( reviews: List[UserReviewData], form :Form[UserReviewForm], movieList :Seq[(String, String)] )( implicit messagesProvider :MessagesProvider )
@main("Reviews"){
    <head>
        @navigation.render()
    </head>
    <link rel="stylesheet" type="text/css" href="@routes.Assets.versioned("stylesheets/reviews.css")">
    <h1>Reviews</h1>
    <table>
    @for( review <- reviews ) {
        <tr>
            <td><h2>@review.movieTitle</h2></td>
        </tr>
        <tr>
            <td><span class="reviewLabels">Alias</span> <span class="reviewText">@review.name</span></td><td><span class="reviewLabels">Rating</span> <span class="reviewText">@review.rating/10</span></td>
        </tr>
        <tr>
            <td><span class="reviewLabels">Review</span></td>
        </tr>
        <tr>
            <td><span class="reviewText">@review.review</span></td>
        </tr>
    }
    </table>
    <br><br><br><br><br><br><br><br>
    <div>
    @helper.form( routes.ReviewController.reviewSubmit() ){
        <table>
            <tr>
                <td>@helper.select( form("movieTitle"), movieList, 'id -> "Movie Title:", '_help -> "", '_showConstraints -> false )</td>
                <td>@helper.select( form("rating"), Seq(("1","1"),("2","2"),("3","3"),("4","4"),("5","5"),("6","6"),("7","7"),("8","8"),("9","9"),("10","10")), 'id -> "Rating:", '_help -> "", '_showConstraints -> false )</td>
            </tr>
            <tr>
                <td>@helper.inputText( form("name"), '_label -> "Alias:", '_showConstraints -> false )</td>
            </tr>
            <tr>
                <td>@helper.inputText( form("review"), '_label -> "Review", '_showConstraints -> false )</td>
            </tr>
        </table>
        <button type="submit">submit</button>
    }
    </div>
    <br><br>

    @footer.render()
}