@main("Our Screens") {
    <center>

        <div>
            <h1>Here at QA Cinema, we have two types of viewing experiences for you to choose from</h1>
            <div class = "screenstandard">
                <h2>Standard</h2>
                <div>
                    <h3>Here is an example of the layout and decor of our standard screen</h3>
                    <img src="@routes.Assets.versioned("images/standardscreen.jpg")" alt="Standard Screen layout" style="width: 400px;
                        height: 400px;">
                    <img src="@routes.Assets.versioned("images/standardseats.jpg")" alt="Standard Screen seating" style="width: 400px;
                        height: 400px;">
                </div>
            </div>
            <div class = "screendeluxe">
                <h2>Deluxe</h2>
                <div>
                    <h3>Here is an example of the layout and decor of our deluxe screen</h3>
                    <img src="@routes.Assets.versioned("images/deluxscreen.jpg")" alt="Deluxe Screen layout" style="width: 400px;
                        height: 400px;">
                    <img src="@routes.Assets.versioned("images/deluxseats.jpg")" alt="Deluxe Screen seating" style="width: 400px;
                        height: 400px;">
                </div>
            </div>
        </div>

    </center>

}