@(filmDetails: List[FilmDetails], futureFilmDetails: List[FutureFilmDetails])

@main("Films") {
    <head>
    @navigation.render()
    </head>

    <div>
    @for(filmDetail <- filmDetails) {
        <a href='/listingGallery/@(filmDetail._id)'>

            <img src = "@{
                filmDetail.url
            }" alt = "film poster" style = "width: 250px;
                height: 300px;"
            />
        </a>
        <h3>@filmDetail.title</h3>
        <h4>Director: @filmDetail.director</h4>

    }
    </div>
    <div>
    @for(futureFilmDetail <- futureFilmDetails) {
        <a href='/futureListingGallery/@(futureFilmDetail._id)'>
            <img src = "@{
                futureFilmDetail.url
            }" alt = "film poster" style = "width: 250px;
                height: 300px;">
        </a>
        <h3>@futureFilmDetail.title</h3>
        <h4>Director: @futureFilmDetail.director</h4>

    }
    </div>

    @footer.render()
}
