@(posts: List[UserComment], form :Form[UserSearchForm], form2 :Form[UserComment])( implicit messagesProvider :MessagesProvider )

@main("List of Posts"){
    <table>
        @for( post <- posts ) {
            <tr>
                <td>@post.name:</td>
                <td>@post.comment</td>
                <td>
                    <a href="/deletePost/@post._id"><button>delete</button></a>
                </td>
            </tr>
        }
    </table>
    <br>
    <div>
        @helper.form( routes.SearchController.searchByName() ){
            @helper.inputText( form("name"), '_label -> "name", '_showConstraints -> false )
            <button type="submit">search by name</button>
        }
    </div>
}
